<!--
  1. check if user have set values for default time-table
    -- if not let him select or upload a time-table
    -- else -- open his default time-table
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An application to provide next day schedule by the Class Representative to the students after confirming it from the professors">
  <meta name="theme-color" content="#232323">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
  <title>Aliah University - Schedule</title>
</head>
<body>
  <header>
    <div class="logo">Aliah University</div>
    <div class="hamburger"><span></span><span></span><span></span></div>
  </header>
  <main>
    <div class="select_day" >
      <select name="day" id="select_day" aria-label="Select day">
        <option value="0">Monday</option>
        <option value="1">Tuesday</option>
        <option value="2">Wednesday</option>
        <option value="3">Thursday</option>
        <option value="4">Friday</option>
      </select>
    </div>
    <div>
      <% data[day].forEach(period => { %>
       <div class="card">
        <div class="card_head">
          <div class="time">
            <%= period.timeFrom %> - <%= period.timeTo %>
          </div>
          <div class="edit">
            <button>
              <span class="material-symbols-outlined">edit</span>
            </button>
          </div>
        </div>
        <div class="card_main">
          <div class="subject"><%= period.subject %></div>
          <div class="notes hidden"></div>
        </div>
        <div class="card_footer">
          <div class="professor"><%= period.professor %></div>
          <div class="courseCode"><%= period.courseCode %></div>
        </div>
       </div>
      <% }) %>
    </div>
  </main>
  <button class="add_new" aria-label="Add New"><span></span><span></span></button>
  <script>
    const select = document.getElementById("select_day");
    select.value = <%= day %>
    select.addEventListener("change", (event) => {
      console.log(select.value)
      window.location.href = `/?day=${select.value}`
    })
  </script>
</body>
</html>